doctype html
html(lang='zh-hant')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, user-scalable=0')
    block page_title
    link(href=asset_path('images/favicon.ico') rel='shortcut icon')
    link(href=asset_path('css/frontend/layouts/master.css') rel='stylesheet')
      
    block head_end_tag
    
    //- ga code：本機端的話就跳過
    if config.appenv.env != 'local'
      !=ga_code
  body
    block body_start_tag
    include ../partials/header.pug
    div#main
      block content
    include ../partials/footer.pug
    
    if auth.is_auth
      div.upload_pics_modal.display_none
        div.upload_block_container
          button.close_upload: i.fas.fa-times.fa-lg
          include ../partials/article_upload_block.pug
    
    block body_end_tag
    script(src=asset_path('vendors/common/v.js'))
    script(src=asset_path('js/all.js'))
    //-
      script(src=asset_path('js/upload_file.js'))
    include ../partials/article_upload_block_js.pug
    block body_end_others
    script.
      $(function(){
        $('button.toggle_nav').on('click', function(){
          $(this).closest('header.header').find('div.mobile_nav').slideToggle();
        });
        $('button.btn_upload_files').on('click', function(){
          $('div.upload_pics_modal').removeClass('display_none');
        });
        $('button.close_upload').on('click', function(){
          $(this).closest('div.upload_pics_modal').addClass('display_none');
        });
      });
      $(window).on('resize', function(){
        if($(window).width() >= 768){
          $('div.mobile_nav').slideUp();
        }
      });
