doctype html
html(lang='zh-hant')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, user-scalable=0')
    block page_title
    link(href=asset_path('images/favicon.ico') rel='shortcut icon')
    link(href=asset_path('css/frontend/layouts/master.css') rel='stylesheet')
      
    block head_end_tag
  body
    block body_start_tag
    include ../partials/header.pug
    div#main
      block content
    include ../partials/footer.pug
    
    if auth.is_auth
      div.upload_pics_modal.display_none
        article.upload_block
          button.close_upload: i.fas.fa-times.fa-lg
          div.file_zone
            span.hint 將檔案拖曳進來即可上傳
            ul.pic_list
              each val in [0, 1, 2]
                li
                  div.progress_block
                  div.info_block  
                    span.icon_type: i.fas.fa-file-image
                    span.file_text 檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案檔案
                    a.info_success(href='#' target='_blank'): i.fas.fa-link
              each val in [0, 1, 2, 3, 4, 5, 6]
                li
                  div.progress_block
                  div.info_block  
                    span.icon_type: i.fas.fa-file-image
                    span.file_text 檔案
                    a.info_success(href='#' target='_blank'): i.fas.fa-link
                
          div.or_select_file
            p.or_para 或
            button.choose_file(type='button') 選擇檔案
            input.select_file.display_none(type='file')
      
    
    block body_end_tag
    script(src=asset_path('vendors/common/v.js'))
    script(src=asset_path('js/all.js'))
    block body_end_others
    script.
      $(function(){
        $('button.toggle_nav').on('click', function(){
          $(this).closest('header.header').find('div.mobile_nav').slideToggle();
        });
        $('button.btn_upload_files').on('click', function(){
          $('div.upload_pics_modal').removeClass('display_none');
        });
        $('button.close_upload').on('click', function(){
          $(this).closest('div.upload_pics_modal').addClass('display_none');
        });
      });
      $(window).on('resize', function(){
        if($(window).width() >= 768){
          $('div.mobile_nav').slideUp();
        }
      });
