extends ./layouts/master

block append page_title
  title= config.app.sitename

block append head_end_tag
  link(href=asset_path('css/frontend/index.css') rel='stylesheet')

include ./partials/btn_like_box.pug

block append content
  section.announcement_sec
    h2.display_none 公告
    div.container
      div.row
        div.col
          div.announcement_block
            div.announcement_left
              span(class='span_icon'): i.fas.fa-bullhorn
            div.announcement_middle
              marquee(direction='up' scrollamount='1' height='20' onMouseOver='this.stop()' onMouseOut='this.start()')
                ul.announcement_list
                  li: a(href='#') 這是這是這是這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表這是列表
                  li: a(href='#') 這是列表這是列表這是列表這是列表這是列表
                  li: a(href='#') 這是列表這是列表這是列表這是列表這是列表
                  li: a(href='#') 這是列表這是列表這是列表這是列表這是列表
                  li: a(href='#') 這是列表這是列表這是列表這是列表這是列表
            div.announcement_right
              a(href='/announcement/list'): i.fas.fa-list-alt.fa-lg
  
  section.slick_slider_sec
    h2.display_none 主題輪播
    div.container
      div.row
        div.col
          div.slick_slider_container
            div.slick_slider
              div.slick_content
                div.inner_content
                  a(href='#' class='content_link'): img(src='//via.placeholder.com/600x300' class='content_img')
              div.slick_content
                div.inner_content
                  a(href='#' class='content_link'): img(src='//via.placeholder.com/1200x400' class='content_img')
              div.slick_content
                div.inner_content
                  a(href='#' class='content_link'): img(src='//via.placeholder.com/1200x400' class='content_img')
  
  section.common_sec
    div.container
      div.row
        div.col
          div.title_block
            a.more_items(href='#')
              i.fas.fa-plus
              |
              | 看更多熱門圖片
            h2.title2
              i.fas.fa-fire
              span.title_text 熱門圖片
          div.pic_block
            div.row
              div.col-12.col-sm-6.col-md-3
                include ./partials/file.pug
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, false, 0)
                    a(href='#' class='title_link') 圖片標題圖片標題圖片標題圖片標題圖片標題圖片標題片標題片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, true, '999+')
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, true, '999+')
                    a(href='#' class='title_link') 圖片標題
  
  section.common_sec
    div.container
      div.row
        div.col
          div.title_block
            a.more_items(href='#')
              i.fas.fa-plus
              |
              | 看更多最新圖片
            h2.title2
              i.fas.fa-clock
              span.title_text 最新圖片
          div.pic_block
            div.row
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, false, 111)
                    a(href='#' class='title_link') 圖片標題22
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, false, 0)
                    a(href='#' class='title_link') 圖片標題圖片標題圖片標題圖片標題圖片標題圖片標題片標題片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, true, '999+')
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, true, '999+')
                    a(href='#' class='title_link') 圖片標題
  
  section.common_sec
    div.container
      div.row
        div.col
          div.title_block
            a.more_items(href='#')
              i.fas.fa-plus
              |
              | 看更多某某局處圖片
            h2.title2
              i.fas.fa-sitemap
              span.title_text 某某局處圖片
          div.pic_block
            div.row
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, false, 111)
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, false, 0)
                    a(href='#' class='title_link') 圖片標題圖片標題圖片標題圖片標題圖片標題圖片標題片標題片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, true, '999+')
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, true, '999+')
                    a(href='#' class='title_link') 圖片標題
  
  section.common_sec
    div.container
      div.row
        div.col
          div.title_block
            a.more_items(href='#')
              i.fas.fa-plus
              |
              | 看更多某某分類圖片
            h2.title2
              i.fas.fa-th-large
              span.title_text 某某分類圖片
          div.pic_block
            div.row
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, false, 111)
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, false, 0)
                    a(href='#' class='title_link') 圖片標題圖片標題圖片標題圖片標題圖片標題圖片標題片標題片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(false, true, '999+')
                    a(href='#' class='title_link') 圖片標題
              div.col-12.col-sm-6.col-md-3
                div.each_block.each_file
                  div.top_block
                    a(href='#'): img(src='//via.placeholder.com/255x170' alt='圖片標題' title='圖片標題')
                  div.bottom_block
                    +btn_like_box(true, true, '999+')
                    a(href='#' class='title_link') 圖片標題
            
  
  section.more_pic_sec
    button.btn_more_pics(type='button') 看更多隨選圖片
  //-
    p= testVar
  
  //-
    img(src=config.appenv.storage.domain + config.appenv.storage.path + '/abc.png')
  //-
    form(action='/image-upload?_csrf=' + csrfToken method='post' enctype='multipart/form-data')
      input(type='text' name='this_image_text')
      
      input(type='file' name='this_image')
      br
      i.far.fa-address-book
      input(type='submit' value='送出')

block append body_end_others
  script(src=asset_path('vendors/plugins/slick/slick.min.js'))
  script.
    $(function(){
      $('.slick_slider').slick({
        arrows: true,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              arrows:false
            }
          }
        ]
      });
    });
