extends ../layouts/admin

block append page_title
  title 短網址列表

block append head_end_tag_sl
  link(href=asset_path('css/admin/short_url/list.css') rel='stylesheet')

block append content_sl
  section.section-container
    .container-fluid
      .row
        .col-xl-12
          if !show_uploader_and_organ
            h5.mt-0 短網址產生
            div.cardbox
              div.cardbox-body
                form.generate_short_url_form(action=config.appenv.domain + '/admin/short_url/item' method='post')
                  input(type='hidden' name='_csrf' value=csrfToken)
                  input.original_url_text(type='text' name='long_url')
                  button.btn.btn-secondary.btn_generate(type='submit') 短網址產生
          
          if show_uploader_and_organ
            h5.mt-0 所有短網址列表(狀態：上架)
          else
            h5.mt-0 短網址列表(狀態：上架)
          div.cardbox
            div.cardbox-body
              div.table-responsive
                table.table.custom_table
                  thead
                    tr
                      th #
                      if show_uploader_and_organ
                        th 產生者帳號
                      th 短網址
                      th 原網址
                      th 瀏覽量
                      th 建立時間
                      th
                  tbody
                    
                    each item, index in short_urls_on
                      tr
                        
                        td= index+1
                        
                        if show_uploader_and_organ
                          td= item.pid
                        
                        td
                          if config.appenv.env == 'production'
                            input.short_url(type='text' value='https:' + config.appenv.domain + '/u/' + item.u_id readonly)
                          else
                            input.short_url(type='text' value='http:' + config.appenv.domain + '/u/' + item.u_id readonly)
                          span.icon_qrcode: i.fas.fa-qrcode
                        
                        td
                          input.original_url(type='text' value=item.long_url readonly)
                          span.icon_edit: i.fas.fa-lock
                          span.icon_edit_now.-none: i.fas.fa-lock-open
                          if item.edit_log != null && item.edit_log != ""
                            ul.edit_log_list
                              each url_item, j in JSON.parse(item.edit_log)
                                li!= "<span class='left_str'>" + time.get_time_from_timestamp("zh-TW", url_item.update_time) + " " + (j == 0 ? "建立" : "更改為") + "</span><span class='url'>" + url_item.url + "</span>"
                            span.icon_url_history: i.fas.fa-history
                        
                        td= item.pageviews
                        
                        td= time.get_time_from_timestamp('zh-tw', item.created_at)
                        
                        td
                          ul.action_list
                            li
                              a.btn-outline-warning.btn_url_on_off(href=config.appenv.domain + "/admin/short_url/is_active/" + item.u_id + "?on=0") 下架
                            li
                              button.btn_action.btn_delete_forever(type='button' title='刪除(無法復原)' data-id=item.u_id): i.fas.fa-times
          
          if show_uploader_and_organ
            h5.mt-0 所有短網址列表(狀態：下架)
          else
            h5.mt-0 短網址列表(狀態：下架)
          div.cardbox
            div.cardbox-body
              div.table-responsive
                table.table.custom_table
                  thead
                    tr
                      th #
                      if show_uploader_and_organ
                        th 產生者帳號
                      th 短網址
                      th 原網址
                      th 瀏覽量
                      th 建立時間
                      th
                  tbody
                    
                    each item, index in short_urls_off
                      tr
                        
                        td= index+1
                        
                        if show_uploader_and_organ
                          td= item.pid
                        
                        if config.appenv.env == 'production'
                          td
                            input.short_url(type='text' value='https:' + config.appenv.domain + '/u/' + item.u_id readonly)
                        else
                          td
                            input.short_url(type='text' value='http:' + config.appenv.domain + '/u/' + item.u_id readonly)
                        
                        td
                          input.original_url(type='text' value=item.long_url readonly)
                          span.icon_edit: i.fas.fa-lock
                          span.icon_edit_now.-none: i.fas.fa-lock-open
                          if item.edit_log != null && item.edit_log != ""
                            ul.edit_log_list
                              each url_item, j in JSON.parse(item.edit_log)
                                li!= "<span class='left_str'>" + time.get_time_from_timestamp("zh-TW", url_item.update_time) + " " + (j == 0 ? "建立" : "更改為") + "</span><span class='url'>" + url_item.url + "</span>"
                            span.icon_url_history: i.fas.fa-history
                        
                        td= item.pageviews
                        
                        td= time.get_time_from_timestamp('zh-tw', item.created_at)
                        
                        td
                          ul.action_list
                            li
                              a.btn-outline-warning.btn_url_on_off(href=config.appenv.domain + "/admin/short_url/is_active/" + item.u_id + "?on=1") 上架
                            li
                              button.btn_action.btn_delete_forever(type='button' title='刪除(無法復原)' data-id=item.u_id): i.fas.fa-times
            
          if show_uploader_and_organ
            h5.mt-0 所有短網址列表(狀態：刪除)
          
            div.cardbox
              div.cardbox-body
                div.table-responsive
                  table.table.custom_table
                    thead
                      tr
                        th #
                        if show_uploader_and_organ
                          th 產生者帳號
                        th 短網址
                        th 原網址
                        th 瀏覽量
                        th 建立時間
                        th
                    tbody
                      
                      each item, index in short_urls_deleted
                        tr
                          
                          td= index+1
                          
                          if show_uploader_and_organ
                            td= item.pid
                          
                          if config.appenv.env == 'production'
                            td
                              input.short_url(type='text' value='https:' + config.appenv.domain + '/u/' + item.u_id readonly)
                          else
                            td
                              input.short_url(type='text' value='http:' + config.appenv.domain + '/u/' + item.u_id readonly)
                          
                          td
                            input.original_url(type='text' value=item.long_url readonly)
                            if item.edit_log != null && item.edit_log != ""
                              ul.edit_log_list
                                each url_item, j in JSON.parse(item.edit_log)
                                  li!= "<span class='left_str'>" + time.get_time_from_timestamp("zh-TW", url_item.update_time) + " " + (j == 0 ? "建立" : "更改為") + "</span><span class='url'>" + url_item.url + "</span>"
                              span.icon_url_history: i.fas.fa-history
                          
                          td= item.pageviews
                          
                          td= time.get_time_from_timestamp('zh-tw', item.created_at)
                          
                          td= "已被刪除( " + time.get_time_from_timestamp('zh-tw', item.deleted_at) + " )"
  
  div.url_edit_log_block
    div.edit_log_content
      span.title 原網址的修改歷程
      button.btn_remove(type="button") &times;
      div.edit_log_content_ul
  
  div#qrcode
    div.content_block
      button.btn_close(type="button") &times;
      canvas#canvas
        img#image
      div.download_block
        button.qrcode_download(type="button") 下載
          
          //-
            p.mb-4= i18n('webcloud_account.account_created_at') + time.get_time_from_timestamp(CurrentLang, auth.user.created_at)
            p.mb-4= i18n('webcloud_account.account_updated_at') + time.get_time_from_timestamp(CurrentLang, auth.user.updated_at)
            
        
block append body_end_others_sl
  script(src=asset_path('vendors/plugins/qrcode-with-logos/QRcode-with-logo.js'))
  script.
    var original_url_data = "";
    var current_qrcode = "";
    var url_u_id = "";
    function isURL(domain) {
      var pattern = /^(https?|chrome):\/\/[^\s$.?#].[^\s]*$/gm;
      if( pattern.test(domain) ){
        return true;
      } else {
        return false;
      }
    }
    
    $(function(){
      
      $("button.btn_delete_forever").on("click", function(){
        var u_id = $(this).attr("data-id");
        var r = confirm("確定要刪除？(無法復原)");
        
        if (r == true) {
          $.ajax({
            url: '#{config.appenv.domain}' + '/api-ajax/v1.0/delete-short-url',
            type: 'delete',
            data: 'u_id=' + $(this).attr("data-id"),
            dataType: 'json',
            headers: {
              "X-CSRF-Token": '#{csrfToken}'
            },
            statusCode: {
              200: function (response) {
                //console.log(response);
              }
            },
            success: function(r_data){
              if(r_data.delete_result == 1){
                alert("刪除成功");
                location.reload();
              }else{
                alert("刪除失敗");
              }
            }
          });
        }
        
      });
      
      $("input.short_url, input.original_url").on("click", function(){
        $(this).select();
      });
      
      $("button.btn_generate").on("click", function(e){
        var input_url = $(this).closest("form").find("input.original_url_text").val();
        if( !allJS.validUrl(input_url) ){
          e.preventDefault();
          alert("請輸入正確的網址格式！");
        }
      });
      
      // 原網址編輯
      $("span.icon_edit").on("click", function(){
        $(this).closest("td").find("input.original_url").removeAttr("readonly").addClass("edit_now");
        $(this).closest("td").find("span.icon_edit").toggleClass("-none");
        $(this).closest("td").find("span.icon_edit_now").toggleClass("-none");
        original_url_data = $(this).closest("td").find("input.original_url").val();
      });
      $("span.icon_edit_now").on("click", function(){
        var that = this;
        $(this).closest("td").find("input.original_url").attr("readonly", true).removeClass("edit_now");
        $(this).closest("td").find("span.icon_edit").toggleClass("-none");
        $(this).closest("td").find("span.icon_edit_now").toggleClass("-none");
        
        var input_field = $(this).closest("td").find("input.original_url");
        var user_input = ($(input_field).val()).trim();
        
        if( isURL(user_input) ){
          
          
          if(original_url_data != user_input){ // 更新
            
            $.ajax({
              url: '#{config.appenv.domain}' + '/api-ajax/v1.0/update-short-url-original',
              type: 'put',
              data: 'u_id=' + $(this).closest("tr").find("button.btn_delete_forever").attr("data-id") + "&new_url=" + encodeURIComponent(user_input),
              dataType: 'json',
              headers: {
                "X-CSRF-Token": '#{csrfToken}'
              },
              statusCode: {
                200: function (response) {
                  //console.log(response);
                }
              },
              success: function(r_data){
                //console.log(r_data)
                if(r_data.update_result == 1){
                  alert("更新成功");
                  $(input_field).val(user_input);
                  location.reload();
                }
                
              }
            });
            
            
          }else{
            alert("與原網址相同。");
            $(input_field).val(original_url_data);
          }
          
          
        }else{
          alert("網址有誤");
          $(input_field).val(original_url_data);
        }
        
      });
      
      // 編輯記錄
      $("span.icon_url_history").on("click", function(){
        let the_html = $(this).closest("td").find("ul.edit_log_list").clone();
        $("div.url_edit_log_block").find("div.edit_log_content_ul").html("");
        $("div.url_edit_log_block").find("div.edit_log_content_ul").append(the_html);
        $("div.url_edit_log_block").addClass("-show");
      });
      
      $("button.btn_remove").on("click", function(){
        $("div.url_edit_log_block").removeClass("-show");
        $("div.url_edit_log_block").find("div.edit_log_content_ul").html("");
      });
      
      // qrcode
      $("span.icon_qrcode").on("click", function(){
        url_u_id = (($(this).closest("tr").find("input.short_url").val()).split("/")).pop();
        current_qrcode = new QrCodeWithLogo({
          canvas: document.getElementById("canvas"),
          content: $(this).closest("tr").find("input.short_url").val(),
          width: 500,
          //download: true,
          image: document.getElementById("image"),
          logo: {
            src: '#{asset_path('images/logo_simple.png')}'
            // src: "https://avatars1.githubusercontent.com/u/28730619?s=460&v=4"
          }
        });
        
        current_qrcode.toCanvas().then(() => {
          current_qrcode.toImage().then(() => {
            $("#qrcode").addClass("-show");
            //setTimeout(() => {
              //current_qrcode.downloadImage("hello world");
            //}, 2000);
          });
        });
      });
      $("button.btn_close").on("click", () => {
        $("div#qrcode").removeClass("-show");
      });
      $("button.qrcode_download").on("click", () => {
        current_qrcode.downloadImage(url_u_id + ".png");
      });
      
      
    });
