script.
  var file_index = 0;
  var user_prepare_upload_files = [];
  var article_upload_block;
  var accepted_ext = ['jpg', 'jpeg', 'png', 'gif'];
  var continue_upload = true;
  
  var uploadProgress = function(e, filet){
    if(e.lengthComputable){
      progress_percent = parseInt((e.loaded / e.total) * 100);
      var li_item = $("li[data-original-filename='" + filet + "']")[0];
      $(li_item).find("div.progress_block").addClass("-uploading").animate({width: progress_percent + '%'}, 'fast');
      if(progress_percent == 100){
        $(li_item).find("div.progress_block").find("span.percentag_text.-transmitting").fadeOut();
        $(li_item).find("div.progress_block").find("span.percentag_text.-processing").css("display", "inline-block");
      }
      
    }
  };
  
  var show_each_li = function(file_item){
    let file_ext = ((file_item.name).split('.').pop()).toLowerCase();
    
    let reader = new FileReader();
    reader.readAsDataURL(file_item);
    reader.addEventListener("load", function () {
      
      let html = `
        <li data-original-filename="${file_item.name}">
          <div class="progress_block" style="width:0%"">
            <span class="percentag_text -transmitting">傳輸中...<i class="fas fa-spinner fa-spin"></i></span>
            <span class="percentag_text -processing">處理中...<i class="fas fa-spinner fa-spin"></i></span>
          </div>
          <div class="info_block">
            <span class="icon_type"><span class="-done">傳輸完成</span><img src="${reader.result}" class="img_preview"></span>
            
            <div class="file_text">
              <span class="file_name">${file_item.name}</span>
              <div class="tag_block">
                <input type="checkbox" class="tag_checkbox"><input type="text" class="tag_text" placeholder="標籤(半形逗號做分隔)，左側需打勾">
              </div>
            </div>
            <a class="info_success_setting display_none" href="#" target="_blank" title="設定"><i class="fas fa-cog"></i></a>
            <a class="info_success display_none" href="#" target="_blank" title="短網址"><i class="fas fa-link"></i></a>
            <a class="info_remove" href="#" title="移除"><i class="fas fa-times"></i></a>
            ${accepted_ext.includes(file_ext) ? "" : "<span class='info_file'>格式不符，限圖檔</span>"}
          </div>
        </li>
      `;
      
      $(article_upload_block).find("ul.pic_list").append(html);
    });
    
  };
  
  var loop_file_each = function(file_item){
      
    let file_ext = ((file_item.name).split('.').pop()).toLowerCase();
    
    if(accepted_ext.includes(file_ext)){
      var data = new FormData();
      data.append('upload', file_item);
      data.append('title', ($(article_upload_block).find(".image_title").val()).trim() );
      data.append('permissions', $(article_upload_block).find(".image_permission").val()); // 本來是字串2
      data.append('category', $(article_upload_block).find(".image_category").val()); // 本來是整數1
      $(article_upload_block).find("ul#file_list").children("li").each(function(){
        if($(this).attr("data-original-filename") == file_item.name){
          if( $(this).find("input.tag_checkbox").prop("checked") ){ // 有打勾
            data.append('tags', ($(this).find("input.tag_text").val()).trim());
          }else{
            data.append('tags', ($(article_upload_block).find("input.image_tags").val()).trim());
          }
        }
      });
      
      
      $.ajax({
        url: "#{config.appenv.domain}/api/v1.0/image?api_key=#{config.appenv.full_api_key}",
        type: "POST",
        data: data,
        contentType: false,
        cache: false,
        processData:false,
        xhr: function() {
          var myXhr = $.ajaxSettings.xhr();
          var file_item_li = file_item.name;
          if(myXhr.upload){
            myXhr.upload.addEventListener('progress', function(e) {
              uploadProgress(e, file_item_li);
            }, false);
          }
          return myXhr;
        },
        statusCode: {
          403: function(data_obj) { // 檔案太大
            $(article_upload_block).find("ul.pic_list").children("li").each(function(){
              if(data_obj.responseJSON.error.original_filename == $(this).attr("data-original-filename")){
                $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
                $(this).find("div.progress_block").removeClass("-uploading").addClass("-failing");
                $(this).find("div.info_block").append("<span class='info_file'>" + data_obj.responseJSON.error.message + "</span>");
                $(this).removeAttr("data-original-filename");
              }
            });
          },
          500: function(data_obj){
            console.log("500");
            console.log(data_obj)
            $(article_upload_block).find("ul.pic_list").children("li").each(function(){
              if(data_obj.responseJSON.error.original_filename == $(this).attr("data-original-filename")){
                $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
                $(this).find("div.progress_block").removeClass("-uploading").addClass("-failing");
                $(this).find("div.info_block").append("<span class='info_file'>" + data_obj.responseJSON.error.message + "</span>");
                $(this).removeAttr("data-original-filename");
              }
            });
            continue_upload = false;
          },
          502: function(){
            console.log("502 Bad Gateway");
            continue_upload = false;
          },
          504: function(){
            console.log("504 Gateway Time-out");
            //console.log(file_item.name);
            $(article_upload_block).find("ul.pic_list").children("li").each(function(){
              if(file_item.name == $(this).attr("data-original-filename")){
                $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
                $(this).find("div.progress_block").removeClass("-uploading").addClass("-failing");
                $(this).find("div.info_block").append("<span class='info_file'>處理逾時</span>");
                $(this).removeAttr("data-original-filename");
              }
            });
          }
        },
        success: function(data_obj) {
          $(article_upload_block).find("ul.pic_list").children("li").each(function(){
            if(data_obj.data.original_filename == $(this).attr("data-original-filename")){
              $(this).find("div.info_block").find("a.info_success_setting").removeClass("display_none").attr("href", '/admin/file/update/' + data_obj.data.short_id);
              $(this).find("div.info_block").find("a.info_success").removeClass("display_none").attr("href", data_obj.data.short_url);
              $(this).find("div.info_block").find("a.info_remove").addClass("display_none");
              $(this).find("div.info_block").find("span.-done").addClass("-show");
              $(this).find("div.progress_block").find("span.percentag_text.-processing").fadeOut();
              $(this).removeAttr("data-original-filename");
            }
          });
        },
        complete: function(xhr){
          if(continue_upload){
            if(user_prepare_upload_files.length > (file_index+1)){
              file_index += 1;
              loop_file_each(user_prepare_upload_files[file_index]);
            }else{
              user_prepare_upload_files = [];
            }
          }else{
            alert("系統忙錄中，請稍候再試。");
            location.reload();
          }
          
        }
      });

    }else{
      file_index += 1;
      loop_file_each(user_prepare_upload_files[file_index]);
    }
      
  };
  
  var loop_files = function(){
    if(user_prepare_upload_files.length > 10){
      alert("請勿一次傳超過 10 個檔案！");
    }else{
      file_index = 0;
      loop_file_each(user_prepare_upload_files[file_index]);
      
      $(article_upload_block).find("span.hint").addClass("display_none");
    }
  };

  $(function(){
    article_upload_block = $("article#upload_block").get(0);
    
    $("article.upload_block").find("button.choose_file").on("click", function(){
      $(this).closest("article").find("input.select_file").click();
    });

    $(article_upload_block).find("input.select_file").on("change", function(){
      if($(this).get(0).files.length > 10){
        alert(`選擇了${$(this).get(0).files.length}張圖，請勿傳超過10張。`);
        return;
      }
      $($(this).get(0).files).each(function(i, item){
        user_prepare_upload_files.push(item);
        show_each_li(item);
      });
      if($(this).get(0).files.length > 0){
        $("button.upload_file").removeClass("-disabled");
      }
      
    });
    
    // Drag and Drop
    $('#holder').on({
      'dragover dragenter': function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).addClass('-on');
      },
      'dragleave': function(e) {
          e.preventDefault();
          e.stopPropagation();
          $(this).removeClass('-on');
      },
      'drop': function(e) {
        $(this).removeClass('-on');
        
        if(e.originalEvent.dataTransfer.files.length > 10){
          e.preventDefault();
          e.stopPropagation();
          alert(`選擇了${e.originalEvent.dataTransfer.files.length}張圖，請勿傳超過10張。`);
          return;
        }
        
        var dataTransfer =  e.originalEvent.dataTransfer;
        if( dataTransfer && dataTransfer.files.length > 0) {
            e.preventDefault();
            e.stopPropagation();
            
            $(dataTransfer.files).each(function(i, item){
              user_prepare_upload_files.push(item);
              show_each_li(item);
            });
            if(dataTransfer.files.length > 0){
              $("button.upload_file").removeClass("-disabled");
            }
        }
      }
    });
    
    // 檔案上傳按鈕
    $("button.upload_file").on("click", function(){
      if($(this).hasClass("-disabled")){
      }else{
        $("button.upload_file").addClass("-disabled");
        loop_files();
      }
    });
    
    // 移除按鈕
    $(document).on("click", "a.info_remove", function(e){
      e.preventDefault();
      let get_file_name = $(this).closest("li").attr("data-original-filename");
      let item_index = user_prepare_upload_files.findIndex(file_item => file_item.name == get_file_name);
      user_prepare_upload_files.splice(item_index, 1);
      $(this).closest("li").fadeOut(1000, function(){ $(this).remove(); });
      $(article_upload_block).find("input.select_file").val("");
      if(user_prepare_upload_files.length <= 0){
        $("button.upload_file").addClass("-disabled");
      }
    });
    
    $("article.upload_block button.btn_agree").on("click", function(){
      $.ajax({
        url: '#{config.appenv.domain}' + '/api-ajax/v1.0/update-agreement',
        type: 'GET',
        //data: 'ab='+ab,
        dataType: 'json',
        success: function(data){
          if(data.affectedRows == 1){
            alert("您已同意，可開始使用圖片上傳服務。");
          }else{
            alert("更新失敗");
          }
          location.reload()
        }
      });
    });
    
  });
