mixin each_files(files_array)
  each item, index in files_array
    div.col-12.col-sm-6.col-md-3
      div.each_block.each_file
        div.top_block
          each item_file_data, index_file_data in JSON.parse(item.file_data)
            if item_file_data.width == 320
              a(href=config.appenv.domain + '/f/' + item.u_id): img(src=config.appenv.storage.domain + item_file_data.url alt=item.title title=item.title)
        div.bottom_block
          +btn_like_box(true, false, 111)
          a(href=config.appenv.domain + '/f/' + item.u_id class='title_link')= item.title
