header.header
  div.container
    div.row
      div.col
        div.header_content
          h1.main_title= config.app.sitename
          a.logo(href='/')
            if logo_path == ''
              img(src=asset_path('images/logo.svg') alt=config.app.sitename title=config.app.sitename)
            else
              img(src=logo_path alt=config.app.sitename title=config.app.sitename)
          div.right_block
            button(type='button' class='toggle_nav')
              i.fas.fa-bars.fa-lg
            div.action_block
              include ./main_nav.pug
  div.mobile_nav
    include ./main_nav.pug
