extends ../../layouts/admin

block append page_title
  title 首頁輪播列表

block append head_end_tag_sl
  link(href=asset_path('css/admin/image/file_carousel.css') rel='stylesheet')

block append content_sl
  section.section-container
    .container-fluid
      .row
        .col-xl-12
          h5.mt-0 首頁輪播列表(系統挑圖)
          div.cardbox
            div.cardbox-body
              form.setting_block(action=config.appenv.domain + "/admin/management/file/carousel_setting" method="post")
                | 熱門門檻(瀏覽人數 + 評價數量) &gt;&#61;
                
                input(type='hidden' name='_method' value='put')
                input(type='hidden' name='_csrf' value=csrfToken)
                
                input.hot_number(type="number" name="hot_threshold" value=(carousel_setting.hot_threshold ? carousel_setting.hot_threshold : "0"))
                div.setting_ratio 系統挑圖的輪播數量：
                  input.slide_number(type="number" name="slide_number" value=(carousel_setting.slide_number ? carousel_setting.slide_number : "0"))
                  | 比例(<span class="ratio">熱門:最新上架的公開圖片</span>)：
                  select.slide_ratio(name="slide_number_ratio")
                    option(value="1" selected=(carousel_setting.slide_number_ratio ? (carousel_setting.slide_number_ratio == "1") : false)) 4:1
                    option(value="2" selected=(carousel_setting.slide_number_ratio ? (carousel_setting.slide_number_ratio == "2") : false)) 3:2
                    option(value="3" selected=(carousel_setting.slide_number_ratio ? (carousel_setting.slide_number_ratio == "3") : false)) 2:3
                    option(value="4" selected=(carousel_setting.slide_number_ratio ? (carousel_setting.slide_number_ratio == "4") : false)) 1:4
                div.priority_block 優先序：
                  label
                    input(type="radio" name="slide_priority" value="1" checked=(carousel_setting.slide_priority ? (carousel_setting.slide_priority == "1") : (carousel_setting == "" ? true : false) ))
                    | 系統挑圖先顯示
                  label
                    input(type="radio" name="slide_priority" value="2" checked=(carousel_setting.slide_priority ? (carousel_setting.slide_priority == "2") : false))
                    | 手動挑圖先顯示
                button.btn.btn-primary(type="submit") 更新
                
          div.cardbox
            div.cardbox-body
              div.table-responsive
                table.table.custom_table(id='sortable2_table')
                  thead
                    tr
                      th #
                      th 檔案
                      th 短網址
                      th 標題
                      th 權限(限公開)
                      th 類型
                  tbody
                    each item, index in carousels_system_hot
                      tr
                        td= index+1
                        each file, f_index in JSON.parse(item.file_data)
                          if file.width == 320
                            td: a(href=config.appenv.domain + '/' + item.u_id target='_blank'): img.w_32(src=config.appenv.storage.domain + file.url)
                        td: a(href=config.appenv.domain + '/' + item.u_id target='_blank')= config.appenv.domain + '/' + item.u_id
                        td= item.title
                        td
                          if item.permissions == "1"
                            | 公開
                          else if item.permissions == "2"
                            | 隱藏
                          else
                            | 共用
                        td= "熱門(瀏覽數 "+ item.pageviews + " + 按讚數 " + item.like_num + ")：" + item.like_and_pageviews
                    each item, index in carousels_system_public
                      tr
                        td= index+1
                        each file, f_index in JSON.parse(item.file_data)
                          if file.width == 320
                            td: a(href=config.appenv.domain + '/' + item.u_id target='_blank'): img.w_32(src=config.appenv.storage.domain + file.url)
                        td: a(href=config.appenv.domain + '/' + item.u_id target='_blank')= config.appenv.domain + '/' + item.u_id
                        td= item.title
                        td
                          if item.permissions == "1"
                            | 公開
                          else if item.permissions == "2"
                            | 隱藏
                          else
                            | 共用
                        td= "最新上架的公開圖片：" + time.get_time_from_timestamp("zh-tw", item.created_at)
        .col-xl-12
          h5.mt-0 首頁輪播列表(手動挑圖)
          div.cardbox
            div.cardbox-body
              div.table-responsive
                table.table.custom_table(id='sortable_table')
                  thead
                    tr
                      th #
                      th: i.fas.fa-arrows-alt
                      th 檔案
                      th 短網址
                      th 標題
                      th 首頁輪播(限公開)
                  tbody(id='sortable_table_tbody')
                    each item, index in carousels
                      tr
                        td= index+1
                        td: span.icon_move(data-id=item.id): i.fas.fa-arrows-alt
                        each file, f_index in JSON.parse(item.file_data)
                          if file.width == 320
                            td: a(href=config.appenv.domain + '/' + item.u_id target='_blank'): img.w_32(src=config.appenv.storage.domain + file.url)
                        td: a(href=config.appenv.domain + '/' + item.u_id target='_blank')= config.appenv.domain + '/' + item.u_id
                        td= item.title
                        td
                          input.save_carousel(type='checkbox' data-u-id=item.u_id checked)        
          
          //-
            p.mb-4= i18n('webcloud_account.account_created_at') + time.get_time_from_timestamp(CurrentLang, auth.user.created_at)
            p.mb-4= i18n('webcloud_account.account_updated_at') + time.get_time_from_timestamp(CurrentLang, auth.user.updated_at)
              
block append body_end_others_sl
  script(src=asset_path('vendors/plugins/sortable/Sortable.js'))
  script.
    $(function(){
      
      // 排序
      var custom_table = document.getElementById("sortable_table_tbody");
      Sortable.create(custom_table, {
          animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
          handle: ".icon_move", // Restricts sort start click/touch to the specified element
          //draggable: ".tile", // Specifies which items inside the element should be sortable
          onUpdate: function (evt/**Event*/){
              //var item = evt.item; // the current dragged HTMLElement
              var item_sort = [];
              $("#sortable_table").children("tbody").find("tr").each(function(index, item){
                  var data_id = $(item).find("span.icon_move").attr("data-id");
                  item_sort.push(data_id);
                  $(this).children("td").eq(0).html(index+1);
              });
              //console.log(item_sort)
              
              $.ajax({
                  url: '/admin/management/file/carousel_sort_update',
                  type: 'POST',
                  data: "send_data=" + JSON.stringify(item_sort),
                  dataType: 'json',
                  headers: {
                      "X-CSRF-Token": '#{csrfToken}'
                  },
                  success: function(data){
                    //console.log(data)
                    location.reload()
                  }
              });

          }
      });
      
      $('input.save_carousel').on('click', function(){
        $.ajax({
          url: '#{config.appenv.domain}' + '/api-ajax/v1.0/save-carousel',
          type: 'post',
          data: 'checked=' + $(this).prop('checked') + '&u_id=' + $(this).attr('data-u-id'),
          dataType: 'json',
          headers: {
              'X-CSRF-Token':'#{csrfToken}'
          },
          statusCode: {
            200: function (response) {
              //console.log(response);
            }
          },
          success: function(r_data){
            //console.log(r_data)
            location.reload()
          }
        });
      });
      
    });
