extends ../../layouts/admin

block append page_title
  title 檔案管理 - 下載

block append head_end_tag_sl
  link(href=asset_path('vendors/plugins/select2/select2.min.css') rel='stylesheet')
  link(href=asset_path('css/admin/image/file_download.css') rel='stylesheet')

block append content_sl
  section.section-container
    .container-fluid
      .row
        .col-xl-12
          p.mt-0 圖片下載
          div.cardbox
            div.cardbox-body
              h4.title4.-first= "下載範圍"
              
              div.download_parent
                if auth.user.role_id == 1
                  div.download_option
                    input.check(type="radio" name="download_scope" id="download_all" value="by_all")
                    label.check_label(for="download_all") 全部
                if auth.user.role_id == 1 || auth.user.role_id == 3
                  div.download_option
                    input.check(type="radio" name="download_scope" id="organ_item" value="by_organ")
                    label.check_label(for="organ_item") 局處
                    select.select_option.custom_select(name='organ_id')
                      //-
                        option(value='0') (無)
                      if auth.user.role_id == 1
                        each item, index in organs
                          option(value=item.organ_id)= item.organ_name
                      else
                        each item, index in organs
                          if item.organ_id == login_user_organ_id
                            option(value=item.organ_id)= item.organ_name
                
                div.download_option
                  input.check(type="radio" name="download_scope" id="account_item" value="by_account" checked)
                  label.check_label(for="account_item") 帳號
                  
                  if auth.user.role_id == 2
                    input.account_text(type="text" placeholder="輸入帳號" name="user_account" value=login_user_account readonly)
                  else
                    input.account_text(type="text" placeholder="輸入帳號" name="user_account")

              h4.title4= "權限篩選"
              div.download_parent
                div.download_option
                  input.check(type="checkbox" id="public_item" value="1" checked)
                  label.check_label(for="public_item") 公開
                
                div.download_option
                  input.check(type="checkbox" id="private_item" value="2" checked)
                  label.check_label(for="private_item") 隱藏
                
                div.download_option
                  input.check(type="checkbox" id="share_item" value="3" checked)
                  label.check_label(for="share_item") 共用
                
              button.filter_images.btn.btn-primary(type="button") 篩選
              
              div.preview!= '以下圖片有勾選的將進行下載：<button type="button" class="btn btn-outline-info custom_btn">下載</button>'
              div.table-responsive
                table#data_table.table.custom_table
                  thead
                    tr
                      th #
                      th 檔案
                      th 短網址
                      th 權限
                      th
                        input#check_all(type="checkbox" checked)
                        label.check_all(for="check_all") 全選
                  tbody
          
          //-
            p.mb-4= i18n('webcloud_account.account_created_at') + time.get_time_from_timestamp(CurrentLang, auth.user.created_at)
            p.mb-4= i18n('webcloud_account.account_updated_at') + time.get_time_from_timestamp(CurrentLang, auth.user.updated_at)

  
block append body_end_others_sl
  script(src=asset_path('vendors/plugins/select2/select2.full.min.js'))
  script.
    /*function str_pad(my_num, digits){
      var my_num_str = my_num.toString();
      if(my_num_str.length < digits){
        return "0" + my_num_str;
      }
      return my_num_str;
    }
    var transfer_from = '';
    */
    
    $(function(){
      $('.custom_select').select2();
      
      $("button.filter_images").on("click", function(){
        
        let filter_range = $("input[name='download_scope']:checked").val();
        let send_obj = {
          filter_range: filter_range,
          public_item: ($("#public_item").prop("checked") ? 1 : 0),
          private_item: ($("#private_item").prop("checked") ? 1: 0),
          share_item: ($("#share_item").prop("checked") ? 1 : 0)
        };
        if(filter_range == "by_organ"){
          send_obj.organ_id = $("select[name=organ_id]").val()
        }
        if(filter_range == "by_account"){
          send_obj.user_account = ($("input[name=user_account]").val()).trim();
        }
        
        $.ajax({
          url: '#{config.appenv.domain}' + '/api-ajax/v1.0/images/download-filter',
          type: 'GET',
          data: send_obj,
          dataType: 'json',
          statusCode: {
            200: function (response) {
              //console.log(response);
            }
          },
          success: function(r_data){
            //console.log(r_data);
            if(r_data.msg != "success"){
              alert(r_data.msg);
            }
            $("#data_table").find("tbody").html("");
            
            if(r_data.files.length > 0){
              var html = "";
              $.each(r_data.files, function( index, item ) {
                html += `
                  <tr>
                    <td>${index + 1}</td>
                    <td>
                `;
                    
                $.each(JSON.parse(item.file_data), function(j, file_item){
                  if(file_item.width == 320){
                    html += `<a href="#{config.appenv.domain}/${item.u_id}" target="_blank"><img class="w_32" src="#{config.appenv.storage.domain}${file_item.url}"></a>`;
                  }
                });
                    
                html += `
                    </td>
                    
                    <td><a href="#{config.appenv.domain}/${item.u_id}" target="_blank">#{config.appenv.domain}/${item.u_id}</a></td>
                    <td>${(item.permissions == "1" ? "公開" : (item.permissions == "2" ? "隱藏" : "共用") )}</td>
                    <td><input class="file_item" type="checkbox" data-file-id="${item.id}" checked></td>
                  </tr>
                `;
              });
              $("#data_table").find("tbody").html(html);
            }else{
              alert("無檔案！");
            }
          }
        });
        
        
        
      });
      
      
      
      $("#check_all").on("click", function(){
        $("input.file_item").prop("checked", $(this).prop("checked"));
      });

      $(document).on("click", "input.file_item", function(){
        if( $("input.file_item:checked").length == $("input.file_item").length ){
           $("#check_all").prop("checked", true);
        }else{
          $("#check_all").prop("checked", false);
        }
      });
      
      
      $("button.custom_btn").on("click", function(){
        if($(this).hasClass("-disabled")){
          let checked_file_arr = [];
          if($("input.file_item:checked").length > 0){
            $(this).addClass("-disabled");
            var that = this;
            $.each($("input.file_item:checked"), function(i, item){
              checked_file_arr.push($(this).attr("data-file-id"));
            });
            console.log(checked_file_arr);
            
            let files_obj = {
              files: checked_file_arr
            };
            
            $.ajax({
              url: '#{config.appenv.domain}' + '/api-ajax/v1.0/images/download',
              type: 'POST',
              data: files_obj,
              dataType: 'json',
              headers: {
                'X-CSRF-Token':'#{csrfToken}'
              },
              statusCode: {
                200: function (response) {
                  //console.log(response);
                }
              },
              success: function(r_data){
                console.log(r_data);
                if(r_data.msg == 1){
                  $(that).removeClass("-disabled");
                  window.open('#{config.appenv.storage.domain}/download/trigger?download_filename=' + r_data.download_filename, "_blank");
                }
                
              }
            });
            
          }else{
            alert("尚未勾選欲下載的檔案！");
          }
        }else{
          alert("請勿重覆點擊！");
        }
        
      });
      
      
    });
