extends ../../layouts/admin

block append page_title
  title 檔案上傳

block append head_end_tag_sl
  link(href=asset_path('vendors/plugins/select2/select2.min.css') rel='stylesheet')
  link(href=asset_path('css/admin/image/file_upload.css') rel='stylesheet')

block append content_sl
  section.section-container
    .container-fluid
      .row
        .col-xl-12
          h5.mt-0 檔案上傳
          div.cardbox
            div.cardbox-body
              div.upload_block_container
                include ../../../frontend/partials/article_upload_block.pug
                          
          //-
            p.mb-4= i18n('webcloud_account.account_created_at') + time.get_time_from_timestamp(CurrentLang, auth.user.created_at)
            p.mb-4= i18n('webcloud_account.account_updated_at') + time.get_time_from_timestamp(CurrentLang, auth.user.updated_at)
        
block append body_end_others_sl
  //-
    script(src=asset_path('vendors/plugins/sortable/Sortable.js'))
  include ../../../frontend/partials/article_upload_block_js.pug
  script(src=asset_path('vendors/plugins/select2/select2.full.min.js'))
  script.
    $(function(){
      $('.custom_select').select2();
    });
